<aside class="menu">
  <p class="menu-label">Ordner</p>
  <ul class="menu-list">
    <li><a href="/mailbox/INBOX" class="<%= (activeFolder==='INBOX')?'is-active':'' %>">Posteingang</a></li>
    <li><a href="/mailbox/SENT" class="<%= (activeFolder==='SENT')?'is-active':'' %>">Gesendet</a></li>
    <li><a href="/mailbox/DRAFTS" class="<%= (activeFolder==='DRAFTS')?'is-active':'' %>">Entwürfe</a></li>
    <li><a href="/mailbox/TRASH" class="<%= (activeFolder==='TRASH')?'is-active':'' %>">Papierkorb</a></li>
  </ul>
</aside>
